<div >
  <%= link_to category_url(category) do %>
    <div class="category-item">
      <div class="category-img">
        <%= image_tag category.icon, class: 'category-image' %>
      </div>
      <div class="category-middle">
        <h3> <%= category.name %> </h3>
        <br>
        <small>
          <%= category.created_at.strftime("%d %h %Y")%>
        </small>
      </div>
      <div class="Category-right">
        <small>
        $<%= category.total_amount%>
        </small>
      </div>
    </div>
  <% end %>
</div>