<header class="navigation">
  <div class="nav-link">
  <%= link_to '<', categories_path %>
  </div>
  <h1>Transactions</h1>
  <div class="logout">
     <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete} %>
  </div>
</header>
 <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="show-gift">
    <div class="gift-content">
      <p>Gift credit: </p>
      <p>$<%= @category.total_amount %></p>
    </div>
    <hr>
  </div>
<div class="category-show">
  <div class="show-content">
   <% if @expanses.empty? %>
     <div class="no-show-content">
        No Transactions found
      </div>
    <% else %>
     <div class="show-item">
      <% @expanses.each do |expanse| %>
        <%= render partial: 'expanses/expanse_amount', locals: { expanse: expanse } %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="show-add-transaction">
  <%= link_to 'Add A Transaction', new_expanse_path%>
</div>